<h1>DRAGONBALL SUPER PAGE</h1>
<hr />
<section class="row justify-content-center">
  <dragonball-character-add class="col-12 col-sm-6"
                            [legthCharacters]="dragonballService.characters().length"
                            (newCharacter)="dragonballService.addCharacter($event)" />

  <dragonball-character-list class="col-12 col-sm-4 "
                             listName="Listado de personajes"
                             [characters]="dragonballService.characters()" />
</section>
