<h3>Listado personajes fuertes</h3>
<ul class="list-group list-group-flush">
  @for (character of characters(); track character.id; let idx = $index) {
  @if (character.power >=3000) {
  <li class="list-group-item">
    <span class="font-monospace"> {{idx+1}}. {{character.name}} </span>
    <strong [class.text-danger]="character.power > 9000"
            [class.text-info]="character.power < 9000"
            [class.text-warning]="character.power < 4000"
            [class.text-success]="character.power < 4000">
      {{character.power}}
      <!-- [ngClass]="{cssClass: powerClasses}" -->
    </strong>
  </li>
  } @else {
  <li class="list-group-item font-monospace">{{character.id}}. Nothing</li>
  }
  }
</ul>