td {
  padding: 10px 20px; /* Aumenta el espacio horizontal */
}

.row {
  display: flex;
  gap: 10px;
  /* Espacio entre elementos */
  margin-bottom: 5px;
}

dt {
  min-width: 150px;
  /* Ajusta el ancho para alinear los dd */
}

dd {
  margin: 0;
}
