<div>
  <h3>Agregar: {{name()}}</h3>
  <input type="text"
         value="{{name()}}"
         class="form-control mt-2"
         placeholder="Nombre"
         (change)="name.set(txtName.value)"
         (input)="name.set(txtName.value)"
         #txtName />
  <input type="number"
         value="{{power()}}"
         class="form-control mt-2"
         placeholder="Poder"
         (change)="power.set(+txtPower.value)"
         #txtPower />
  <button (click)="addCharacter()"
          class="btn btn-primary mt-2">Agregar</button>
</div>